@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100;400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

::before,
::after {
    box-sizing: inherit;
}

ul li {
    list-style: none;
    padding: 10px;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
}

.titleh2 {
    color: #c4b998;
    padding: 100px 0 40px 0;
    text-align: center;
}

.box-titleh2Cursive {
    position: relative;
    top: 6px;
}

.titleh2Cursive {
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-weight: bold;
    font-size: 3.4rem;
    position: relative;
}

.lineTitle {
    padding-left: 8px;
    vertical-align: middle;
    width: 30%;
    height: 20%;
}

.lineTitle-left {
    transform: rotate(180deg);
}